[submodule "www/dev.mapaproject.org"]
	path = www/dev.mapaproject.org
	url = git@github.com:AshtreeCC/mapaproject.org.git
[submodule "puppet/modules/bootstrap"]
	path = puppet/modules/bootstrap
	url = git@github.com:AshtreeCC/puppet-bootstrap.git
[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = git@github.com:AshtreeCC/puppet-mysql.git
[submodule "puppet/modules/apache"]
        path = puppet/modules/apache
        url = git@github.com:AshtreeCC/puppet-apache.git
[submodule "puppet/modules/php"]
	path = puppet/modules/php
	url = git@github.com:AshtreeCC/puppet-php-cgi.git
[submodule "www/padcollaboration.org"]
	path = www/padcollaboration.org
	url = git@github.com:AshtreeCC/padcollaboration.org.git
[submodule "mapaproject.local"]
	path = mapaproject.local
	url = /Users/andrew/Workspace/apache.dev/www/mapaproject.local
